out
dist
node_modules
.vscode-test/
*.vsix
# Runtime downloaded CLI files (will be downloaded on demand)
bin/PBIRInspectorCLI.exe
bin/libSkiaSharp.dll
bin/LICENSE
bin/Files/
bin/cli-temp.zip
bin/.download-timestamp
IMPLEMENTATION.md
LICENSE_AUDIT_REPORT.md
REFACTORING.md